*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

:root{
  --col-01:#000;
  --col-02:#f2fbeb;
  --col-03:#a3cadc;
  --col-04:#7885e8;
  --col-05:#e8bd78;
  --col-06:#9078e8;
  --col-07:#b6e878;
}

body{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--col-01);
    color: var(--col-02);
}

.button {
  background-color: var(--col-03);
  color: rgb(15, 15, 15);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  border: 2px solid var(--col-03);
}

.button:hover {
  background-color: #0e0e0e;
  color: white;
}

section{
    border: 1em;
    border-style:double;
    border-color: var(--col-03);
    border-radius: 20px;
    margin: 2em;
    padding: 2em;
}

h2{
    margin-bottom: 0.1em;
}

.title{
    position: relative;
    align-items: center;
}

.title span{
    position: relative;
    display: inline-block;
    color: var(--col-02);
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 1.3s ease-in-out infinite;
    margin-bottom: 0.5em;
    animation-delay: calc(0.1s * var(--i));
    color: var(--col-03);
  }

  .title span{
    transition: 4s;
  }
  
  .title span:hover{
    /*color:var(--col-04);
    transition: 0s */
    animation: colourCycle 3s ease-in 1;
  }
  
  @keyframes colourCycle {
    0%{color: var(--col-04);}
    20%{color: var(--col-05);}
    100%{color: var(--col-06);}
  }

@keyframes animate
{
    0%{
      transform: translateY(0px);
    }
    20%{
      transform: translateY(-20px);
    }
    40%, 100%{
      transform: translateY(0px);
    }
  }

a:link {
    color: rgb(74, 156, 185);
  }
  
  /* visited link */
  a:visited {
    color: rgb(74, 156, 185);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(74, 156, 185);
  }
  
  /* selected link */
  a:active {
    color: rgb(74, 156, 185);
  }

  .img-wrapper{
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .img-figure{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .article-img{
    width: 30%;
  }
