*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

:root{
    --col-01:#000;
    --col-02:#ffffff;
    --col-03:#a3cadc;
  }

body{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
    background-color: var(--col-01);
}


.button {
    background-color: var(--col-03);
    color: rgb(15, 15, 15);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid var(--col-03);
  }
  
  .button:hover {
    background-color: #0e0e0e;
    color: white;
  }
  

.name{
    color: #fff;
    width: 100%;
	padding: 100px;
    background-image: url(cover.jpg);
    border: solid var(--col-01) 15px;
    height: 100vh;
	background-size: cover;
	background-position: center;
    position: relative;
	font-size: 60px;
    text-align: right;
}

.name span{
    color: var(--col-03);
}

.about{
    border: double var(--col-02) 15px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 1.3em;
    background: var(--col-01);
    color: var(--col-02);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	padding: 100px 0px;
    background:var(--col-01);
	width: 100%;
	padding: 100px 0px;
}

.box
{
    position: relative;
    width: 200px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px, 30px;
    transition: 0.5s;
}

.box:hover
{
    transform: translateY(-20px);
}

.box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00, #ff0058);
}

.box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00, #ff0058);
    filter: blur(30px);    
}

.box:nth-child(2)::before,
.box:nth-child(2)::after{
    background: linear-gradient(315deg,#03a9f4, #ff0058);
}

.box:nth-child(3)::before,
.box:nth-child(3)::after{
    background: linear-gradient(315deg,#4dff03, #00d0ff);
}

.box:nth-child(4)::before,
.box:nth-child(4)::after{
    background: linear-gradient(45deg,#ffbc00, #ff0058);
}

.box:nth-child(5)::before,
.box:nth-child(5)::after{
    background: linear-gradient(315deg,#03a9f4, #ff0058);
}

.box:nth-child(6)::before,
.box:nth-child(6)::after{
    background: linear-gradient(315deg,#4dff03, #00d0ff);
}


.box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.box span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background:rgba(255,255,255,0.1);
    pointer-events: none;
}

.content{
    position: relative;
    z-index: 10;
    padding-left: 22px;
    padding-right: 10px;
}

.content h2{
    font-size: 1.3em;
    color: #fff;
    margin-bottom: 2px;
}

.content h3{
    font-size: 0.8em;
    color: #fff;
}

.content p{
    font-size: 0.8em;
    color: #fff;
    margin-bottom: 9px;
    line-height: 1.4em;
}

.content a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
}

.box li{
    color: #fff;
    font-size: 0.8em;
}

a:link {
    color: rgb(74, 156, 185);
  }
  
  /* visited link */
  a:visited {
    color: rgb(74, 156, 185);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(74, 156, 185);
  }
  
  /* selected link */
  a:active {
    color: rgb(74, 156, 185);
  }

/*0-49rem it will give one column
when it gets to 50rem, it gives 2 columns
75rem is three columns*/
.res-columns{
    column-width: 25rem;
  }
  
  /*Once the screen size hits 600px, the following codes will apply to the page*/
  /* medium devices 600 - 992 */
  @media only screen and (min-width: 600px) {
    :root{
      font-size: 0.9em;
    }
    
    .img-wrapper{
      width: 75%;
      margin: 1.5rem auto;
    }
  }
  
  /* medium devices 992 + */
  @media only screen and (min-width: 992px) {
    :root{
      font-size: 1.05em;
    }
  
    .img-wrapper{
      max-width: fit-content;
      float: right;
      margin: 1.5rem;
    }
  }
  
  /*Allows to check if user prefers to turn the motion off or not*/
  @media all and (prefers-reduced-motion){
  }
  
  